body {
  margin: 0;
}
.grid {
  width:500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "education experience"
  "gwu government"
  "generalassembly whitehouse"
  "georgetown nasa"
  "aboutme aboutme"
  ;
}

.education {
  grid-area: education;
}
.experience {
  grid-area: experience;
}
.gwu {
  grid-area: gwu;
  width: 100px;
  height: 100px;
  border: 50px black;
  font-family: helvetica, sans-serif;

}
.generalassembly {
  grid-area: generalassembly;
}
.georgetown {
  grid-area: georgetown;
}
.government {
  grid-area: government;
}
.whitehouse {
  grid-area: whitehouse;
}
.nasa {
  grid-area: nasa;
}
.aboutme {
  grid-area: aboutme;
}

.child {
  font-family: Helvetica, sans-serif;
  text-align: center;
}