.inline-block{
  display: inline-block;
  vertical-align: top;
}
.logo{
  padding: 3%;
  text-align: center;
}
.navigation{
width: 100%;
height: 200px;
display: grid;
grid-template-rows:100%;
grid-template-columns: 15% 85%;
}
#HeaderNav{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-content: center;
}
ul{
  width: 100%;
  vertical-align: top;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
  padding: 0%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heroImg{
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 85% 15%;
  height: 600px;
  padding: 5%;
  grid-template-areas: "photo descrip" "photo resume";
}
.ProfilePhoto{
grid-area: photo; 
}
.AboutMe{
  grid-area: descrip;
  font-family: Verdana, Tahoma, sans-serif;
}

.footer{
  background-color: #373738;
  padding: 2%;
  text-align: center;
  color: white;
}
.resumebutton{
  align-self: center;
  grid-area: resume;
  width: 100px;
  height: 50px;
}